body {
    margin: 10px 20px;
}

input {
    margin-top: 2px;
    margin-bottom: 2px;
}

label {
    font-size: 14px;
}

h3 {
    margin-bottom: 0;
}

.w270 {
    width: 270px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.align-right {
    text-align: right;
}

.validationError {
    display: block;
    color: #b50303;
}